.page {
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  padding: 1.5rem 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: -100%;
  height: 300%;
  width: 150%;
  background: transparent;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: wave 4s infinite linear;
  z-index: 0;
}

.logo {
  width: 100%;
}

@keyframes wave {
  0% {
    transform: translateX(100%) translateY(0);
  }

  50% {
    transform: translateX(0%) translateY(0);
  }

  100% {
    transform: translateX(-10%) translateY(0);
  }
}

.imgPhone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.img {
  z-index: 3;
}

.titleHomepage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  color: var(--homePageTitle-color);
  text-transform: uppercase;
  top: calc(50% - 21%);
  left: -59%;
}

.titleTop {
  font-size: 5rem;
  z-index: 2;
}

.titleBottom {
  font-size: 3.3rem;
  margin-top: -17px;
  z-index: 4;
}

.titleTop,
.titleBottom {
  text-shadow:
    2px 2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px -2px 0 #ffffff;
}

.links {
  z-index: 999;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  z-index: 5;
}

.textLink {
  color: var(--homePageLinks-color);
  font-weight: 550;
  font-size: 12px;
}

.textLink:hover {
  color: var(--homePageLinks-hover);
}
